.CardCalendarContainer {
  background-color: var(--Deep-Blue);
  padding: 2%;
  height: 430px;
  border-radius: 2rem;
  width: 30%;
  .CardCalendarTitle {
    color: var(--White);
    font-family: 'Poppins';
    font-weight: bold;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 1.2rem;
  }
  .CardCalendarItem {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
  }
}

@media (max-width: 1000px) {
  .CardCalendarContainer {
    padding: 2rem;
  }
}