#Login {
  display: flex;
  height: 100vh;
  width: 100vw;
  background: var(--Bg);

  main {
    width: 100%;
    height: 100%;
  }

  main {
    padding: 0 10%;
    max-width: 800px;
    margin: 0 auto;
    > div {
      width: 100%;
    }
  }

  .title {
    color: var(--Deep-Blue);
    h3 {
      text-align: start;
    }
  }

  h3,h4 {
    color: var(--gray);
    text-align: center;
  }

  form {
    margin: 1rem 0;
    position: relative;

    div.InputContainer:first-child {
      border-radius: 1rem 1rem 0px 0px;
    }

    .InputContainer {
      border-radius: 0px 0px 1rem 1rem;
    }
  }

  #buttons_container {
    width: 100%;
    display: flex;
    gap: 2rem;
    padding: 0;
    padding-top: 1rem;
    button {
      width: 100%;
      height: 3.5rem;
      font: 1.1rem 'Poppins';
      color: var(--White);
      background-color: var(--Deep-Blue);
      transition: filter .2s;
      border-radius: 1rem;
      &:hover {
        filter: brightness(0.8);
      }
    }
  }

  .accounts {
    display: flex;
    padding: 2rem 0;
    a {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        cursor: pointer;
        transition: 0.2s;
        &:hover {
          transform: translateY(-5px);
        }
      }
    }
  }

  .SignUp {
    width: 100%;
    button {
      padding-left: 3px;
      font-size: 1.2rem;
      color: var(--Deep-Blue);
    }
  }
  @media(max-width: 1000px) {
    main {
      padding: 0 10%;
    }
  }
}
