#Aside {
  background: var(--Deep-Blue);
  color: var(--White);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 10%;
  img {
    width: 50%;
  }
  > div {
    margin: 2rem 0;
    text-align: center;
  }
  h1 {
    font-size: 2.3rem;
  }
  p {
    font-size: 1.3rem;
  }
}

@media (max-width: 1000px) {
  #Aside {
    display: none;
  }
}
