.CorouselContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  #items-warapper {
    width: 70vw;
    #items {
      display: flex;
      gap: 2rem;
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      scroll-behavior: smooth;
      padding: .5rem;

      &::-webkit-scrollbar {
        height: 8px;
        background-color: transparent;
      }
      
      &::-webkit-scrollbar-thumb {
        border-radius: 2rem;
        background-color: rgb(131, 131, 131);
        &:hover{
          background-color: #aaa;
        }
      }
    }
    .item {
      flex: none;
      min-width: 270px;
      width: 30%;
      scroll-snap-align: start;
      position: relative;
      transition: .2s;
      &:hover {
        transform: translateY(-1rem);
        z-index: 1;
      }
      h1, p, a{
        text-decoration: none;
      }
    }
  }
  .Control {
    height: 100%;
    button {
      width: 100%;
      height: 100%;
      cursor: pointer;
      background: none;
      border: none;
      padding: 0 2rem;
      svg {
        width: 30px;
      }
    }
  }
  @media (max-width: 1000px) {
    .Control button {
      padding: 1rem;
    }
  }
}
